.result-container {
    background-image: url("../pages/background2.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-size: 20px;
}

.text {
    margin-bottom: 2rem;
}

.image-container img {
    width: auto; 
    height: 40vh;
    display: block;
    margin-bottom: 15vh;
}